realm = '{{ eduroam_realm }}'

[wireless]
ssid = 'eduroam'
timeout = 10

[path]
userdb = '{{ eduroam_userdb_dir }}/user.db'
eapconfig = '{{ eduroam_eap_dir }}/eapconfig.toml'
ca_cert_dir = '{{ eduroam_eap_dir }}/certs'

[user]
first_uid = {{ eduroam_first_uid }}
shell = '/bin/bash'
home_dir = '/home'
